@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Lato";
  src: url(./assets/fonts/Lato-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}
